@page "/"
@using BlockchainApp.Web.Shared

@using Grpc.Core;

@inject Task<Greeter.GreeterClient> greeterClient
@inject AuthorizeApi aut



<style>
    ::-webkit-scrollbar {
        width: 0;
    }

    .message {
        border-radius: 20px;
        padding: 8px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: linear-gradient(40deg, rgba(9,3,121,1) 1%, rgba(0,212,255,1) 100%);
        color: white;
        max-width: fit-content;
    }
</style>
   



<div style="height: 80vh; overflow-y: scroll; scrollbar-width: none; align-self: end">
    @if(_messages == null)
    {
        <h4>Загрузка...</h4>
    }
    else
    {
        foreach(var message in _messages)
        {
           <div class="message">
                <p style="margin-bottom: 0;
                    font-size: 1vw;
                    color: deepskyblue;">
                    @message.Sender
                </p>
                <h6>@message.Message</h6>
           </div>
        }
    }
</div>
<div style="display:flex; flex-direction: row; gap: 40px; justify-content: space-around; align-items: baseline">
    <RadzenTextArea @bind-Value="mess" Placeholder="Enter here..." class="w-100" />
    @*<RadzenButton>Отправить</RadzenButton>*@
    <RadzenButton Click="SendMessageAsync" Icon="add" ButtonStyle="ButtonStyle.Primary"  Size="ButtonSize.Large" class="rz-border-radius-10 rz-shadow-10" />

</div>


@code{

    private List<HelloReply> _messages = new List<HelloReply>();
    private string mess;
    private string name;
    protected override async Task OnInitializedAsync()
    {
        name = aut.ChatUser.UserName;
        using var serverStream = (await greeterClient).JoinChat(new HelloRequest());

        var stream = serverStream.ResponseStream;

        await foreach(var message in stream.ReadAllAsync())
        {
            _messages.Add(message);
            this.StateHasChanged();
        }
        name = aut.ChatUser.UserName;


    }

    private async Task SendMessageAsync()
    {
        if (string.IsNullOrEmpty(mess)) { return; }

        
        await (await greeterClient).SendAsync(new HelloReply {Message = mess, Sender = name});
    }

}